<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AGV_WS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><userSettings>
        <AGV_WS.Properties.Settings>
            <setting name="SocketPort" serializeAs="String">
                <value>13011</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="ShowOrigin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GridHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PixelsPerMeter" serializeAs="String">
                <value>50</value>
            </setting>
        </AGV_WS.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
